.title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #2a2a2c;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #120755;
}

.sidebar {
  height: 100%;
  width: 120px;
  background-color: #2a2a2c;
  position: fixed;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
