.title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #2a2a2c;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #120755;
}

.sidebar {
  height: 100%;
  width: 250px;
  background-color: #2a2a2c;
  position: fixed;
}

.admin {
  color: #fff;
  margin-left: 15%;
  margin-top: 220px;
  font-size: 20px;
  font-weight: bold;
}
